.c6{
    
        display: inline-block !important;
        width: 60% !important;
        height: auto !important;
        margin: 1% !important;
        padding: 20px !important;
        vertical-align: top !important;
    
    h3 {
        margin:15px 0px 0px
    }

    small {
        color:grey
    }
    i{
        margin-right:10px
    }
    b{
        font-size:1.1rem
    }
    p{
        margin-top:10px
    }
}

iframe{
    width: 100%;
    height: 460px
}

